{{#if added_msg}}
<div class="container">
    <div class="alert alert-success">{{added_msg}}</div>
</div>
{{/if}}

{{#if updated_msg}}
<div class="container">
    <div class="alert alert-primary">{{updated_msg}}</div>
</div>
{{/if}}

{{#if deleted_msg}}
<div class="container">
    <div class="alert alert-danger">{{deleted_msg}}</div>
</div>
{{/if}}

{{#if signup_msg}}
<div class="container">
    <div class="alert alert-success">{{signup_msg}}</div>
</div>
{{/if}}

{{#if signup_err}}
<div class="container">
    <div class="alert alert-danger">{{signup_err}}</div>
</div>
{{/if}}

{{#if login_err}}
<div class="container">
    <div class="alert alert-danger">{{login_err}}</div>
</div>
{{/if}}

{{#if auth_err}}
<div class="container">
    <div class="alert alert-danger">{{auth_err}}</div>
</div>
{{/if}}

{{#if access_err}}
<div class="container">
    <div class="alert alert-danger">{{access_err}}</div>
</div>
{{/if}}